* {
    box-sizing: border-box;
}
.header {
    padding: 5px;
    display: inline-block;
}
.left {
    width: 50%;
    float: left;
    padding: 5px;
}
.right {
    width: 50%;
    float: right;
    padding: 5px;
}
