* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 10px;
}
.left {
    width: 40%;
    float: left;
    padding: 10px;
    border: 1px solid red;
}
.right {
    width: 40%;
    float: right;
    padding: 10px;
    border: 1px solid red;
}
